body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: "Gill Sans";
}

body{
    background-color: cyan;
}

.container{
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    margin-top: 150px;

}

.left-column{
    float: left;
    display: inline-block;
    background-color:  red;
    width: 40%;
}

.main-title{

}

.bottom-link{

}

.bottom-link > a{

}

.bottom-link > span{

}

.right-column{
    float: right;
    display: inline-block;
    background-color: yellow;
    width: 60%;
    padding: 50px;
}

.close{

}

.form{

}

